/assignment3_v2/cs231n/datasets/squeezenet.ckpt.index
/assignment3_v2/cs231n/datasets/squeezenet.ckpt.meta
/assignment3_v2/cs231n/datasets/imagenet_val_25.npz
/assignment3_v2/cs231n/datasets/squeezenet.ckpt.data-00000-of-00001
coco_captioning
/assignment1/.ipynb_checkpoints
/assignment2_v2/.ipynb_checkpoints
